.thenav {

    display: inline-block;
    font-size: 25px;
    margin-left: 20px;
    text-align: center;
    
}

.thenav::after {

    content: '';
    width: 0%;
    height: 3px;
    display: block;
    background-color: black;
    margin-top: 10px;
    


}

.thenav:hover::after {

    width: 100%;
    transition: all .3s;
}

.bg-image {


    background-image: url("tbrheading.png");
    height: auto;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    
    

}


@font-face { font-family: BebasNeue-Bold; src: url("BebasNeue-Bold.ttf"); }
@font-face { font-family: Ubuntu-Regular; src: url("Ubuntu-Regular.ttf"); }


.container h1 {

    font-family: BebasNeue-Bold;

}

.btn {
    border-radius: 24px;
}

.container p {

    font-family: Ubuntu-Regular ;

}

.container span {

    font-family: Ubuntu-Regular ;

}



@media (max-width: 992px) {

    .thestarting {
        text-align: center;
    }

    .thetoptext {
        font-size: 55px;
    }

    .thesubheading {
        font-size: 50px;
    }


}

@media (min-width: 993px) {

    .thetoptext {
        font-size: 75px;
    }

    .thesubheading {
        font-size: 55px;
    }
}

@media (max-width: 767px) {

    .thenav {
        font-size: 15px;
    }

    .webdesimg {
        width: 95%;
        height: 80%;
        
    }

}



@media (max-width: 370px) {

    .thenav {
        font-size: 14px;
    }

    .thetoptext {
        font-size: 50px;
    }

    .thesubheading {
        font-size: 45px;
    }
}

@media (max-width: 320px) {

    .thenav {
        font-size: 10px;
    }

    .thetoptext {
        font-size: 45px;
    }

    .thesubheading {
        font-size: 40px;
    }


}

@media (max-width: 413px) {

    .thefooting {
        font-size: 13px;
    }

    .thebuttons {
        font-size: 70%;
    }
}

@media (min-width: 414px) {

    .thefooting {
        font-size: small;
    }
}
